<%- include("partials/header") %> 

<form action="/ledOn" method="POST">
  <input class="btn btn-success" type="submit" name="ledOn" value="LED ON" id="ledOn">
</form>

<form action="/ledOff" method="POST">
  <input class="btn btn-danger" type="submit" name="ledOff" value="LED OFF" id="ledOff">
</form>

<%- include("partials/footer") %> 